@import "./typography";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    // scroll-behavior: smooth;
}

body {
    // Font
    $sans-serif: "Montserrat", Helvetica, Verdana, sans-serif;
    $serif: "Playfair Display", Georgia, serif;

    $light: 300;
    $normal: 400;

    font-family: $serif;
    font-weight: $normal;
    overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:active,
a:hover,
a:visited,
a:link {
    text-decoration: none;
}

.fp-slidesNav {
    width: 90px;
}

#fp-nav ul li a span,
#menu-line,
.fp-slidesNav ul li a span {
    background: #fff;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    height: 8px;
    width: 8px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
    height: 16px;
    width: 16px;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span {
    margin: -3px 0 0 -3px;
}
