// flex row centered
.frc {
    display: flex;
    justify-content: center;
    align-items: center;
}

// flex column centered
.fcc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// flex column spaced between
.fcsb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

// flex column spaced evenly
.fcse {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

// flex row spaced between
.frsb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// flex row spaced evenly
.frse {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

// Buttons
.btn:link,
.btn:visited {
    // font-family: $sans-serif;
    // font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 30px;
    border-radius: 100px;
    transition: all 0.2s;
    letter-spacing: 7px;
    margin: 4px;
    background-color: $green-500;
    color: $neutral-600;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
